html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(245, 246, 247);
  }
.sign_up_wrapper{
    width : 250px;
    height : 720px;
}
.sign_up_form{
    width: 100%;
    height: 100%;
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    align-items : center;
}
label{
    margin: 0 0 0 1%;
    font-size: 0.8rem;
}
.info{
    height: 35px;
    width: 250px;
    background: white;
    border: solid;
    border-width: 1px;
    border-color: rgb(218, 218, 218);
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    width: 95%;
    height: 65%;
    display : flex;
    justify-content : space-between;
    font-size: 0.9rem;
    border: none;
}
input:focus{
    outline: 0;
}
.birth_input_wrapper{
    height: 35px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.birth_year, .birth_month, .birth_date{
    width: 30%;
    height: 100%;
    background: white;
    border: solid;
    border-width: 1px;
    border-color: rgb(218, 218, 218);
    display: flex;
    align-items: center;
    justify-content: center;
}
.birth_year > *, .birth_date > *{
    width: 85%;
    height: 65%;
    font-size: 0.9rem;
    border: none;
}
.birth_month_dropmenu{
    width: 85%;
    height: 65%;
    font-size: 0.9rem;
    -webkit-appearance: none;
    background: white url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 120% 50% no-repeat;
    background-size: 40% 35%;
    border-radius: 0;
    border: none;
}
.gender_dropmenu{
    width: 95%;
    height: 65%;
    font-size: 0.9rem;
    -webkit-appearance: none;
    background: white url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 103% 50% no-repeat;
    background-size: 11% 35%;
    border-radius: 0;
    border: none;
}
.agreement_wrapper{
    height: 20px;
    width: 250px;
}
a{
    text-align: left;
    font-size: 0.75rem;
    color: rgb(0, 0, 0);
}
.button_wrapper{
    height: 35px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
button{
    padding: 0;
    margin: 0;
    width : 48%;
    height: 100%;
    outline: 0;
    background: rgb(90, 194, 102); 
    color: rgb(250, 250, 250);
    border: none;
    font-size: 0.9rem;
}